body {
            font-family: 'Inter', sans-serif;
            background-color: #f0f2f5;
        }
        .carousel-item {
            display: none;
        }
        .carousel-item.active {
            display: block;
        }
        
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }
        .no-scrollbar {
            -ms-overflow-style: none;  
            scrollbar-width: none;  
        }